* {
  margin: 0;
  padding: 0;
  font-family:Helvetica,Sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  background-image: linear-gradient(160deg, rgb(62, 226, 144),rgb(47, 192, 120), rgb(11, 97, 64), rgb(11, 50, 30)); 
}

/* main title*/

.flexbox {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
  text-align: center;
}

.titles {
  padding: 1rem;
  margin: 1rem;
  color: rgb(255, 255, 255);
  border-radius: 0.5rem;

}

h1 {
  font-size: 7rem;
  letter-spacing: 0.5rem;
}

h3 {
  font-size: 2rem;
}

.logo {
  color: white;
  font-size: 20rem;
  opacity: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -100;
  position: absolute;
  border-radius: 50%;
  width: 700px;
  height: 700px;
  background-color: rgba(255, 255, 255, .4);
  box-shadow: 10px 10px 1rem rgba(0, 0, 0, 0.4);
}

/* buttons to start lottery*/

.button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.draw-btn {
  width:calc(20vh + 10px);
  height:calc(8vh + 10px);
  border: none;
  border-radius: 7px;
  transition: .2s ease-in-out;
  font-size: 3rem;
  font-weight: 700;
  background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  display:flex;
  align-items:center;
  justify-content:center;
  text-transform:uppercase;
  color:#191919; 
  animation:slidebg 2s linear infinite;
  margin: 10px;
}

.draw-btn::after{
  content: attr(alt);
  width: 20vh;
  height: 8vh;
  background-color: rgb(68, 221, 145) ;
  display:flex;
  align-items:center;
  justify-content:center;
}


.draw-btn:hover {
  cursor: pointer;
  box-shadow: 0 0 4rem white;
  transform: scale(1.1);
  animation: none;
  color:white;
}

.draw-btn:active{
  transform: translateY(1px);
  box-shadow: 0 0 4rem rgb(70, 67, 67);
  color:#191919;
}

.reset-btn {
  position: fixed;
  background-color: rgb(159, 228, 205);
  width: 15vh;
  height: 6vh;
  margin: 10px;
  top: 620px;
  left: 1350px;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(8, 255, 140);
  border: none;
  transition: .3s ease-in-out;
}

.reset-btn:hover {
  cursor: pointer;
  background-color: rgb(170, 13, 13);
  transform: scale(1.1);
  color: white;
  font-size: 1.75rem;
}

/* container for balls*/

.container-balls {
  width: 130vh;
  height: 50%;
  text-align: center;
  
}

/* element div with random numbers*/

.balls {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 50%;
  font-size: 5rem;
  text-align: center;
  font-weight: bold;
  background-color: rgba(4, 92, 44, 0.849);
  color: rgba(255, 255, 255);
  animation:appear 1.5s ease-in-out;
}

/* modal elements with button to hide it*/

.modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: radial-gradient(rgba(0, 0, 0, 0.4), rgba(200, 0, 0, 0.2) 90%);
  text-align: center;
  z-index: 100;
  /*    hide the modal*/
  display: none;
}

.modal div {
  width: 80%;
  margin: 25% auto 0 auto;
  border-top: 0.2rem solid #000;
  border-bottom: 0.2rem solid #fff;
  border-radius: 5rem;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.5s;
}

.modal div:hover {
  transform: scale(1.1);
}

.modal h3 {
  margin: 3rem;
  color: rgba(255, 0, 0, 0.7);
  letter-spacing: 0.5rem;
  font-size: 2.5rem;
}

.modal p {
  font-size: 2rem;
  color: rgba(255, 0, 0, 0.7);
  letter-spacing: 0.1rem;
}

.modal-btn {
  width: 10rem;
  padding: 1rem;
  margin: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: rgba(255, 50, 0, 0.4);
  font-weight: bold;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.8);
  transition: 0.5s;
}

.modal-btn:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.8);
}

@keyframes slidebg {
  to {
    background-position:20vh;
  }
}

@keyframes appear {
  0%{
    opacity: 0;
    transform: rotate(0) scale(0);
    
  }
  50%{
    opacity: 100;
    transform:rotate(360deg) scale(10);
  }
  100%{
    opacity: 0;
  }
}

